/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
* {
  padding: 0 auto;
  margin: 0 auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.home-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Ensure the image covers the entire background */
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.content {
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.content h1 {
  margin: 50px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-size: cover;
}
.video-container {
  position: fixed;
  top: "2px";
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.react-flow__renderer {
  background-color: #f0f0f0;
}

.react-flow__handle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #007bff;
}
